@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section,
article,
h1 {
  margin: 0;
  padding: 0;
}

h1,
nav {
  padding: 15px;
}

a {
  text-decoration: none;
  padding: 15px;
}

.container {
  margin: 0 auto;
}

.top_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 5px 5px #e9e9e9;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 22px;
  font-weight: 400;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: 4px solid #ccc;
  border-radius: 5px;
  background-color: #fcfcfc;
}

button {
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  color: white;
  background-color: #5ad2c1;
  border: none;
  border-radius: 5px;
  float: right;
}

button:hover {
  background-color: #3d887e;
  cursor: pointer;
  transition: 300ms;
}

#complete_btn {
  color: white;
  background-color: #5ad2c1;
  padding: 8px;
  margin: 0 16px 16px 0;
  border: none;
  border-radius: 8px;
  float: right;
  max-width: 150px;
}

#complete_btn:hover {
  background-color: #3d887e;
  cursor: pointer;
  transition: 300ms;
}

main {
  max-width: 850px;
  width: 90%;
  background: white;
  margin: 100px auto 0 auto;
  box-sizing: border-box;
}

#todo_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

article {
  width: 100%;
  max-height: 200px;
  box-shadow: 5px 5px 5px rgba(90, 210, 193, 0.1);
  border-radius: 8px;
}
