@import 'reset.scss';

* {
  box-sizing: border-box;
}

main {
  margin: 0 auto;
  padding: 50px;
  max-width: 800px;
  
}

// Stiling av filmene i en grid
ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  li {
    width: 1fr;

    img{
      width: 100%;
    }
  }
}

form {
  display: grid;
  grid-template-columns: 1fr .2fr;
  margin: 0 0 2rem 0;
  input {
    padding: 0.5rem;
  }
  button {
    padding: 0.5rem;
  }
}


@media only screen and (max-width: 600px) {
  ul {
    grid-template-columns: 1fr 1fr; 
  }
}

@media only screen and (max-width: 400px) {
  ul {
    grid-template-columns: 1fr; 
  }
}