* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ededed;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 500px;
}


h3 {
  padding: 1rem 0;
}

p {
  padding: 1rem 0;
}

.parent-container {
  height: 500px;
  width: 100%;
  position: relative;
}

.img-container {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.color-changer {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  float: right;
  position: absolute;
  bottom: -10px;
  right: -10px;
  background-color: white;
  padding: .5rem 1rem;
  border-radius: .3rem;
}

.color-btn {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  border-radius: 50%;
  border: none;
}

.active-color-btn {
  border: 5px solid white;
}

.inactive-color-btn {
  border: none;
}

.blue {
  background-color: #1979ee;
}

.red {
  background-color: #f64e4e;

}

.green {
  background-color: #36b46a;

}

.reset {
  background-color: black;
}

button {
  width:  2rem;
  height: 2rem;
  margin: 1rem .5rem 0 0 ;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: .3rem;
}

.active-button {
  color: black;
  background-color: white;
  border: none;
}

.disabled-button {
  color: white;
  background-color: #464646;
  border: none;
}